*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    text-transform: capitalize;
}

.container {
    display: flex;
    align-items: center;
    height: 70px;
    background-color: rgb(210, 87, 87);
    color: rgb(6, 6, 6);
}

.header {
    padding: 10px;
}

.list-container {
    display: flex;
    flex-grow: 1;
}

.list-box {
    display: flex;
    align-items: center;
}

.list-items {
    padding: 10px 20px;
    cursor: pointer;
    position: relative;
}

.dropdown-inner {
    border: 2px solid black;
    width: 120px;
    background-color: azure;
    left: -15px;
    top: 35px;
    text-align: center;
    display: none;
    position: absolute;
}

.dropdown-inner a {
    display: block;
    text-decoration: none;
    padding: 0.5rem 1rem;
    color: black;
}
.dropdown-inner a:hover{
    background-color: white;
}

.dropdown-inner.active {
    display: block;
}
